<Layouts.app flash={@flash}>
  <PUI.Flash.flash_group flash={@flash} />
  <div>
    hello world
    <div class="hello">
      test
    </div>
    <PUI.Button.button href="/toast">
      Back Toast Demo
    </PUI.Button.button>
  </div>
</Layouts.app>
